
// Pipeline Config:
$HOSTNAME='default'
// Required Parameters
params.reads = "/nl/umw_biocore/kucukura/Robin/files/*_R{1,2}_*.fastq.gz"
params.ref = "/share/data/umw_biocore/dnext_data/genome_data/s_cerevisiae/sacCer3/refseq_150415/BWAIndex/sacCer3.fasta"
params.snpeff_db = "SacCer3"
params.pl = "illumina"
params.pm = "nextseq"
