
// Pipeline Config:
$HOSTNAME='default'
// Required Parameters
params.reads = "/nl/umw_biocore/kucukura/Robin/files/*_R{1,2}_*.fastq.gz"
params.ref = "/share/data/umw_biocore/dnext_data/genome_data/s_cerevisiae/sacCer3/refseq_150415/BWAIndex/sacCer3.fasta"
params.outdir = "/data/workdir/test/outdir/"
params.snpeff_db = "SacCer3"
params.pl = "illumina"
params.pm = "nextseq"

// Set the Nextflow Working Directory
// By default this gets set to params.outdir + '/nextflow_work_dir'
workDir = params.outdir + '/work_dir'

 docker { 
        process.container = "dolphinnext/gatk4"
        docker.enabled = true 
        docker.runOptions = "-v /share:/share -v /nl:/nl -v /data:/data"
  }
